.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
}

.category-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-category {
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    justify-content: space-around;
    margin: 10px 10px 0 10px;
    padding: 10px;
    width: 10%;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: dodgerblue;
    color: white;
    padding: 3px 5px;
    align-self: center;
}

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

#customInput1 {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    padding: 5px;
    font-size: 25px;
}

#input-btn {
    border-radius: 10px;
    text-align: center;
    align-self: center;
    padding: 5px;
    font-size: 15px;
    width: 20%;
}
